In [127]:
# import the libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [128]:
# read our dataset
df = pd.read_csv('creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
Time      284807 non-null float64
V1        284807 non-null float64
V2        284807 non-null float64
V3        284807 non-null float64
V4        284807 non-null float64
V5        284807 non-null float64
V6        284807 non-null float64
V7        284807 non-null float64
V8        284807 non-null float64
V9        284807 non-null float64
V10       284807 non-null float64
V11       284807 non-null float64
V12       284807 non-null float64
V13       284807 non-null float64
V14       284807 non-null float64
V15       284807 non-null float64
V16       284807 non-null float64
V17       284807 non-null float64
V18       284807 non-null float64
V19       284807 non-null float64
V20       284807 non-null float64
V21       284807 non-null float64
V22       284807 non-null float64
V23       284807 non-null float64
V24       284807 non-null float64
V25       284807 non-null float64
V26       284807 non-null float64
V27       284807 non-null float64
V28       284807 non-null float64
Amount    284807 non-null float64
Class     284807 non-null int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [130]:
# df.value_count(df.Class.unique())
df["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [131]:
s_scaler = StandardScaler()
df[["Amount" , "Time"]] = s_scaler.fit_transform(df[["Amount" , "Time"]])

In [132]:
# resample the data

df_Fraud = df[df.Class == 1]
# df_nonFraud_indesxes = (np.random.choice(df[df.Class == 0 ].index , len(df_Fraud)))
df_nonFraud = df[df.Class == 0 ].sample(len(df_Fraud))
new_df = pd.concat([df_Fraud , df_nonFraud])
new_df = new_df.sample(frac =1)
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
105994,-0.527309,-1.652167,1.187524,1.446199,-0.306365,-0.197898,-0.936178,0.315279,0.315440,-0.483759,...,-0.130438,-0.563627,-0.112601,0.612429,0.189252,-0.002328,-0.307617,-0.055866,-0.317287,0
141257,-0.223422,-0.937843,3.462889,-6.445104,4.932199,-2.233983,-2.291561,-5.695594,1.338825,-4.322377,...,1.066550,-0.521657,-0.319917,-0.405859,0.906802,1.165784,1.374495,0.729889,-0.353229,1
279521,1.560627,-0.136044,0.983674,-0.246844,-0.887660,0.946715,-0.476304,0.947656,-0.110265,0.201124,...,-0.354595,-0.753791,-0.052179,-1.069289,-0.310201,0.212973,0.361192,0.144953,-0.342475,0
99565,-0.581954,-4.687646,-5.582945,1.249748,0.169998,5.197394,-5.266129,-3.754126,-0.230676,-0.541432,...,0.048491,0.770855,-0.988862,1.172422,-0.517028,-0.322876,0.909591,-0.154416,-0.273268,0
269785,1.452178,1.858857,-0.668483,-0.629893,0.163287,0.135726,1.472612,-0.923574,0.471863,1.258145,...,0.224880,0.901521,0.222393,-0.502685,-0.433924,0.644822,0.022037,-0.050569,-0.238284,0

In [133]:
x = new_df.drop(columns = "Class")
y = pd.DataFrame(new_df.Class)

In [134]:
# PCA Feature Selection

from sklearn.decomposition import PCA
pca = PCA (n_components= 0.95, random_state=1 )
pca_new_x = pca.fit_transform(x)
np.sum(pca.explained_variance_ratio_)

0.9511042774919808

In [135]:
# K-Mean Clustering

from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters = 2, random_state = 0)
kmeans_predictions = kmeans.fit_predict(pca_new_x)

In [136]:
kmeans.cluster_centers_

array([[-5.71347797e+00,  4.47716916e-02, -1.49893985e-02,
         1.96598300e-01, -1.31511589e-01,  3.65950192e-02,
         2.38791082e-02, -6.59796634e-03,  4.10524098e-02],
       [ 2.94244116e+01, -2.30574212e-01,  7.71954024e-02,
        -1.01248125e+00,  6.77284684e-01, -1.88464349e-01,
        -1.22977407e-01,  3.39795267e-02, -2.11419910e-01]])

In [139]:
v = list(kmeans.labels_)
y ["clustering"] = v
y

        Class  clustering
105994      0           0
141257      1           1
279521      0           0
99565       0           0
269785      0           0
...       ...         ...
149019      0           0
158435      0           0
17453       1           1
151009      1           1
157585      1           0

[984 rows x 2 columns]

In [141]:
from sklearn.metrics import confusion_matrix


CM = confusion_matrix(y.Class, y.clustering)
print (CM)

[[492   0]
 [332 160]]

In [143]:
from sklearn.metrics import accuracy_score
AccScore = accuracy_score(y.Class, y.clustering, normalize=False)

print('Accuracy Score is : ', AccScore)

Accuracy Score is :  652

In [144]:
from sklearn.metrics import f1_score
F1Score = f1_score(y.Class, y.clustering, average='micro')
print('F1 Score is : ', F1Score)

F1 Score is :  0.6626016260162602

In [ ]:
# from sklearn.metrics import silhouette_score
# s_score = silhouette_score(pca_new_df, kmeans.labels_)
# s_score